# Arquivos de log e relatório gerados pelo Robot Framework
cinema-automation/logs/
logs/

# Cache do Python
__pycache__/
*.py[cod]

# Ambientes virtuais do Python
.venv/
venv/
.env

# Arquivos de configuração de IDEs
.vscode/
.idea/