# Logs do Robot Framework
cinema-automation/logs/
logs/

# Cache Python
**/__pycache__/
*.pyc

# Env
.env
.env.*

# Ambiente virtual
.venv/
venv/

# IDEs
.vscode/
.idea/

# Arquivos temporários e de sistema
*.log
*.tmp
.DS_Store
Thumbs.db