# Ignorar diretórios de ambiente virtual
venv/
.venv/
.env

# Ignorar o diretório de cache do Python
__pycache__/

# Ignorar arquivos de IDE
.vscode/

# Ignorar arquivos temporários
*.tmp

# Robot
cinema-automation/logs/log.html
cinema-automation/logs/output.xml
cinema-automation/logs/report.html
cinema-automation/utils/__pycache__/db_keywords.cpython-310.pyc
